<html>
	<h1>
		Register a new account
	</h1>
	<form method="POST" action="/signup">
		<div>Email: <input name="email" id="email" type="text" size="40" maxlength="100" /></div>
		<div>Name: <input name="name" id="name" type="text" size="40" /></div>
		<div>Password: <input name="password" id="password" type="password" size="40" /></div>
		<div>Confirm Password: <input name="password2" id="password2" type="password" size="40" /></div>
		<div><input type="submit" value="Submit" /></div>
	</form>
</html>
